*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.w100{
    width: 100%;
}

.w50{
    width: 50%;
}




/* header */
header{
    height: 100px;
    background-color: black;
}





/* jumbo */
.jumbo{
    margin-top: 100px;
    height: 800px;
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbo .testo *{
    margin: 30px 0;
}



/* Console */

    
    .immagini img{
        border-radius: 20px;
        cursor: pointer;
    }

    /* .immagini .bottom{
        position: relative;
        height: 100%;
    }

    .immagini .bottom img{
        position: absolute;
    }

    .immagini .bottom:hover img {
        bottom: 1%;
    } */

    .accessori .hover img{
        opacity: 0.5;
    }

    .accessori .hover:hover img{
        opacity: 1;
    }

    


    .avventura{
        height: 800px;
        background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
        background-size: cover;
        background-position: center;
        color: white;
    }

    .avventura .testo *{
        margin: 30px 0;
    }


    .uscite{
        color: white;
        background-color: rgb(34, 33, 33);
    }

    .uscite img{
        border-radius: 20px;
    }




    .plus{
        background-color: grey;
    }

    @media screen and (max-width: 768px) {
        .plus .none img{
            display: none;
        }
    }













