*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lens{
    height: 30px;
}


.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.w25{
    width: 25%;
}

.w5{
    width: 5%;
}




/* header */


    .pre-nav{
        background-color: black;
    }

    .pre-nav img{
        height: 15px;
    }

    .nav{
        background-color: white;
    }


    .logoplay{
        height: 45px;
    }

    .drop{
        height: 15px;
        vertical-align: bottom;
        margin-top: 5px;
        margin-left: 5px;
    }

    .frecciahover:hover .drop{
        transform: rotate(-180deg);
    }

    .contimg a, .contimg li{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .sub:hover{
        text-decoration: underline;
    }

    .contimg p{
        margin:0;
        width: 110px;
    }

    .imgplay img{
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }


    .bordilente{
        border: 1px solid black;
    }

    .large{
        display: none;
    }

    @media screen and (min-width: 991px) {
        .small{
            display: none;
        }

        .large{
            display: block;
        }
        
    }

    /* tasto */
    .border_red{
        border: 2px solid red;
    }

    .border_blue{
        border: 2px solid blue;
    }

    .border_grey{
        border: 2px solid rgb(54, 54, 54);
    }

    .border_white{
        border: 2px solid white;
    }

    .border_special{
        border: 2px solid rgb(142, 172, 202);
    }

    .bg_red{
        background-color: red;
    }

    .bg_blu{
        background-color: blue;
    }

    .bg_grey{
        background-color: rgb(54, 54, 54);
    }

    .bg_special{
        background-color: rgb(142, 172, 202);
    }

    .bg_white{
        background-color: white;
    }

    .color_blu{
        color: blue;
    }

    .color_black{
        color: black;
    }

    .color_white{
        color: white;
    }

    .color_grey{
        color: grey;
    }

    .bottone{
        text-decoration: none;
        padding: 8px;
        border-radius: 50rem;
        transition: box-shadow 0.2s linear;
    }

    .bottone:hover{
        color: white;
    }

    .specialhover:hover{
        color:black;
    }

    .bottonebordonero:hover{
        box-shadow: inset 0px 0px 0px 2px black;
    }

    .bottonebordobianco:hover{
        box-shadow: inset 0px 0px 0px 2px white;
    }

    .bottonebordogrigio:hover{
        box-shadow: inset 0px 0px 0px 2px grey;
    }
    /* tasto */
    

    .imgplay:hover{
        box-shadow: 0px 0px 14px 8px #878787;
    }

    @media screen and (min-width: 991px) {

        .item_center{
            display: flex;
            justify-content: center;
        }

        .contimg ul{
            display: flex;
            justify-content: center
        }
        
        .topshow, .bottomshow{
            display: none;
        }

        
    } 

    

    


/* jumbo */
.jumbo{
    margin-top: 88px;
    min-height: 800px;
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbo .testo *{
    margin: 30px 0;
}



/* Console */

    
    .immagini img{
        border-radius: 20px;
        cursor: pointer;
    }

    .riquadro{
        padding:2px;
        border-radius: 20px;
    }

    .blu{
        border: 5px solid blue;
    }

    .bottom div{
        transition: transform 0.2s linear;
    }

    .bottom:hover div{
        transform: translate(0,-15px);
    }


    


    

    .accessori .hover img{
        opacity: 0.5;
    }

    .accessori .hover:hover img{
        opacity: 1;
    }

    .link-console a{
        text-decoration: none;
        color: black;
    }

    @media screen and (min-width: 768px) {
        .link-console{
            display: flex;
            justify-content:space-between;
        }
    }

    @media screen and (min-width: 1400px) {
        .social .container{
            max-width: 70%;
        }
    }
    


    .avventura{
        height: 800px;
        background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
        background-size: cover;
        background-position: center;
        color: white;
    }

    .avventura .testo *{
        margin: 30px 0;
    }


    .uscite{
        color: white;
        background-color: rgb(34, 33, 33);
    }

    .uscite img{
        border-radius: 20px;
    }

    .uscite a{
        text-decoration: none;
        color: white;
    }




    .plus{
        background-color: grey;
    }

    @media screen and (max-width: 768px) {
        .plus .none img{
            display: none;
        }
    }


    .now{
        background-color: rgb(18, 18, 88);
        color: white;
    }

    @media screen and (max-width: 768px) {
        .now .none img{
            display: none;
        }
    }




    
    

/* footer */
footer{
    background-color: rgb(18, 18, 136);
    color: white;
}

.lista li{
    list-style: none;
}

.lista a{
    text-decoration: none;
    color: white;
}


.globe img{
    height: 15px;
}


